/* INDEX PAGE STYLES*/











/* MENU PAGE STYLES*/









/* LOCATIONS PAGE STYLES*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*LOCATIONS HEADER*/
  header {
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
  }
  
  nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  .navbar-brand {
    background-color: black;
    border-radius: 50%;
    width: 68px;
    height: 65px;
    padding-top: 9px;
    text-align: center;
  }

  #navbarNav {
    justify-content: flex-end;
    text-align: right;
  }

  .container-fluid {
    width: 100%;
  }
  
  .navbar-brand {
    font-size: 30px;
  }
  
  .btn-bd-primary {
    border: rgb(0, 0, 0) solid 1px;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-toggler {
    --bs-navbar-toggler-focus-width: 0.00rem;
  }

/*LOCATIONS - SEARCH BAR IMAGE AND TEXT*/

.locations-dessert {
  width: 100%;
  border: 1px solid red;
}

.locations-dessert > img {
  object-fit: cover;
}


  
/*LOCATIONS - SEARCH BAR

.main-search-input {
  background: #fff;
  padding: 0 120px 0 0;
  border-radius: 1px;
  margin-top: 200px;
  box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.main-search-input:before {
  content: '';
  position: absolute;
  bottom: -40px;
  width: 50px;
  height: 1px;
  background: rgba(255,255,255,0.41);
  left: 50%;
  margin-left: -25px;
}

.main-search-input-item {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  height: 50px;
  position: relative;
}

.main-search-input-item input:first-child {
  border-radius: 100%;
}

.main-search-input-item input {
  float: left;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.main-search-button{

    background: #4DB7FE;
}

.main-search-button {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 120px;
  color: #fff;
  top: 0;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.main-search-input-wrap {
  max-width: 500px;
  margin: 20px auto;
  position: relative;
}

:focus {
  outline: 0;
}


@media only screen and (max-width: 768px){
.main-search-input {
  background: rgba(255,255,255,0.2);
  padding: 14px 20px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
}

.main-search-input-item {
  width: 100%;
  border: 1px solid #eee;
  height: 50px;
  border: none;
  margin-bottom: 10px;
}

.main-search-input-item input {
  border-radius: 6px !important;
  background: #fff;
}

.main-search-button {
  position: relative;
  float: left;
  width: 100%;
  border-radius: 6px;
}
}

*/




/* CONTACT US PAGE STYLES*/